<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits</title>
  </head>
  <body>
    <h1>Welcome to Fruits App</h1>
    <p>An app for collecting your favorite fruits.</p>

    <a href="/fruits/new">Add new fruit</a>
    <a href="/fruits">All fruits</a>
  </body>
</html>
